.btn{
  font-size: 1rem;
  padding: 1rem;
  color: #fff;
  border:none;
  background: rgb(85, 0, 165);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 20%;
  cursor: pointer;
}

.btn:hover{
  background:rgb(63, 0, 122);
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ta{
  height: 40vh;
  width: 60%;
  margin: 1rem;
  border:none;
  border-radius: 0.5rem;
  background:rgb(36, 36, 36);
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
}

.pre{
  display: flex;
  background:rgb(36, 36, 36);
  width: 60%;
  margin: 1rem;
  padding: 1rem;
  border:none;
  border-radius: 0.5rem;
  overflow: auto;
}