.wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper .button{
  position: absolute;
  top: .3rem;
  right: .3rem;
  z-index: 20;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.wrapper:hover .button{
  opacity: 1;
}