.previewWrapper {
  position: relative;
  height: 100%;
  
}

.previewWrapper iframe {
  height: 100%;
  background-color: #fff;
}

.previewWrapper:hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}